#containerdog {
    margin-top: 50px;
    margin-left: 200px;
}

.dog-head {
  z-index: 100;
  -webkit-animation: head-move 1s ease-in-out infinite;
}


@-webkit-keyframes head-move {
  50% { 
    -webkit-transform: rotate(-1.5deg); 
  }
}